/* ---------- Layout - Index ---------- */
#mainSlider {
	overflow: hidden;
}
#mainSlider > img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

#secMost {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: -7rem auto 2rem;
	padding: 2rem;
	max-width: 60rem;
	background: white;
	box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.2);
}
#secMost > .most_item_box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	width: 20%;
	height: 10rem;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	cursor: pointer;
}
#secMost > .most_item_box:nth-child(1) {
	background: #f7f8fa;
}
#secMost > .most_item_box:nth-child(2) {
	background: #eee3cd;
}
#secMost > .most_item_box:nth-child(3) {
	background: #f4eee2;
}
#secMost > .most_item_box:nth-child(4) {
	background: #f1b6d2;
}
#secMost > .most_item_box > img {
	display: block;
	height: 7rem;
	transition: 0.3s;
}
#secMost > .most_item_box:hover > img {
	transform: translateY(-1rem) rotateZ(-5deg) scale(1.1);
	filter: drop-shadow(0 1rem 1rem rgba(51, 38, 38, 0.3));
}

.sec_latest {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.sec_latest > .section_title {
	width: 60rem;
	margin: 4rem auto 1rem;
}

.sec_best {
	background: linear-gradient(to bottom, transparent 25%, #98b7be 25%, #98b7be 75%, transparent 75%);
}
.sec_best > .section_title {
	width: 60rem;
	margin: 4rem auto 1rem;
}
.sec_best > .grid_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5rem;
}

.item_best {
	position: relative;
	background: white;
	border: 0.05rem solid #dddde1;
	overflow: hidden;
}
.item_best.doublewide {
	grid-column-end: span 2;
}
.item_best.doublelong {
	grid-row-end: span 2;
}
.item_best.doubleboth {
	grid-row-end: span 2;
	grid-column-end: span 2;
}
.item_best > img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.item_best > .item_best_desc {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10%;
	background: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(0.25rem);
	        backdrop-filter: blur(0.25rem);
	color: white;
	transform: translateY(100%);
	transition: transform 0.5s;
}
.item_best:hover > .item_best_desc {
	transform: translateY(0);
}

.sec_recmd > .section_title {
	margin: 4rem 0 1rem;
}
.sec_recmd > .item_recmd {
	float: left;
	position: relative;
	padding: 0.25rem;
	width: calc((100% - .5rem) / 2);
	border: 0.05rem solid #dddde1;
}
.sec_recmd > .item_recmd + .item_recmd {
	margin-left: 0.5rem;
}
.sec_recmd > .item_recmd > img {
	float: left;
	margin-right: 0.5rem;
	width: 10rem;
	height: 10rem;
	-o-object-fit: cover;
	   object-fit: cover;
}
.sec_recmd > .item_recmd > h6 {
	margin: 0.5rem 0;
	color: #332626;
}
.sec_recmd > .item_recmd > p {
	color: #726b6b;
	line-height: 1.6;
}
.sec_recmd > .item_recmd > .btn_recmd_more {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	padding: 0.5rem;
	background: #e5e2ff;
	cursor: pointer;
}
.sec_recmd > .item_recmd > .btn_recmd_more > span {
	display: none;
}
.sec_recmd > .item_recmd > .btn_recmd_more:hover > span {
	display: inline;
}