/* ---------- Layout - Index ---------- */

$color__black: rgb(0, 0, 0);
$color__white: rgb(255, 255, 255);

$color__dark: rgb(51, 38, 38);
$color__grey: rgb(114, 107, 107);
$color__mid: rgb(221, 221, 225);
$color__light: rgb(241, 241, 243);
$color__subtle: rgb(249, 249, 249);

$color__pm: rgb(181, 0, 86);
$color__sub: rgb(255, 94, 103);
$color__sl: rgb(152, 183, 190);
$color__by: rgb(255, 249, 233);
$color__bp: rgb(255, 240, 246);
$color__bb: rgb(229, 226, 255);


#mainSlider {
    overflow: hidden;
    
    > img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#secMost {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: -7rem auto 2rem;
    padding: 2rem;
    max-width: 60rem;
    background: $color__white;
    box-shadow: 0 1rem 2rem -.5rem rgba($color__black, .1);
    position:relative;

    > .most_item_box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        width: 20%;
        height: 10rem;
        text-align: center;
        user-select: none;
        cursor: pointer;

        &:nth-child(1) {
            background: #f7f8fa;
        }

        &:nth-child(2) {
            background: #eee3cd;
        }

        &:nth-child(3) {
            background: #f4eee2;
        }

        &:nth-child(4) {
            background: #f1b6d2;
        }

        > img {
            display: block;
            height: 7rem;
            transition: .3s;
        }

        &:hover {
            > img {
                transform: translateY(-1rem) rotateZ(-5deg) scale(1.1);
                filter: drop-shadow(0 1rem 1rem rgba($color__dark, .3));
            }
        }
    }
}

.sec_latest {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    

    > .section_title {
        width: 60rem;
        margin: 4rem auto 1rem;
    }
}

.section_title{
    margin: 4rem auto 1rem;
}

.sec_best_re {
    background: linear-gradient(to bottom, transparent 25%, $color__sl 25%, $color__sl 75%, transparent 75%);
    box-sizing:border-box;

    > .section_title {
        width: 60rem;
        margin: 4rem auto 1rem;
    }
    .noBdr{
        border:none;
    }

    div{
        box-sizing:border-box;
        overflow:hidden;
        border: 0.05rem solid #dddde1;
        img{
            //width:100%;
            float:left;
            
            :before{
                width:100%;
                height: inherit;
                background:rgba(0,0,0,0.2);
            }
            object-fit:cover;
        }
        .best_items{
            position:relative;
            label{
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                transform:translateY(100%);
                background-color:rgba(0,0,0,0.2);
                transition-duration: .5s;
                height:14.5rem;
                p{
                    color:#fff;
                    font-size:30px;
                    letter-spacing:1px;
                    text-align:center;
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    font-weight:bold;
                }
            }
        }
    }
    .bbtm_01, .bbtm_02, .bbtm_04, .bbtm_06{
        
        img{
            height:14.5rem;
        }
        .wideHeight{
            transform: translateX(11%);
        }
        
    }

    .bbtm_06{
        background-color:#f7f5f3;
    }
    
    .topLeft_div{
        float:left;
        margin:0.25rem 0.25rem 0.5rem 0;
        width:calc(50% - 0.25rem);
        height:29.5rem;
        .best_items{
            label{
                height:29.5rem;
            }
        }
        
    }
    .topRight_div{
        float:left;
        margin:0.25rem 0 0.25rem 0.25rem;
        width:calc(50% - 0.25rem);
        height:14.5rem;
        img{
            width:calc(50% - 0.25rem);
            height:14.5rem;
        }
        .wideRight{
            width:100%;
            margin-bottom:0.5rem;
            height:14.5rem;
            ::before{
                clear:both;
                display:block;
            }
        }
    }

    .trBottom_first, .trBottom_second{
        float:left;
        width:calc(25% - 0.38rem);
        height:14.5rem;
            img{
                object-fit:cover;
                height:14.5rem;
            }
        
    }
    .trBottom_first{
        margin:0.25rem 0.5rem 0.25rem 0.25rem;
    }
    .trBottom_second{
        margin-top:0.25rem;
    }

    .bottom_div{
        width:100%;
    }

    /* 하단 박스들 시작 */
    section#bestBtm_left, section#bestBtm_right{
            float:left;
            width:calc(50% - 0.24rem);
        .innerWide{
            width:100%;
        }
        .bbtm_05{
            //height:22rem;
            float:right;
            height:29.5rem;
            label{
                height:29.5rem;
            }
        }
        div{
            box-sizing: border-box;
            overflow: hidden;
            border: 0.05rem solid #dddde1;
            float: left;
            width: calc(50% - 0.25rem);
            //padding-bottom:50%;
            height: 14.5rem;
            position:relative;
            img{
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
            }
        }
        .innerLeft{
            margin:0 0.25rem 0.5rem 0;
        }
        .innerRight{
            margin:0 0 0.5rem 0.25rem;
        }
    }
    section#bestBtm_left{
        margin:0 0.25rem 0.5rem 0;
    }
    section#bestBtm_right{
        margin:0 0 0.5rem 0.23rem;
    }

}
/* sec_best_re 끝 */
.item_best {
    background: $color__white;
    border: .05rem solid $color__mid;
    overflow: hidden;

    &.doublewide {
        grid-column-end: span 2;
    }

    &.doublelong {
        grid-row-end: span 2;
    }

    &.doubleboth {
        grid-row-end: span 2;
        grid-column-end: span 2;
    }

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    > .item_best_desc {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10%;
        background: rgba($color__black, .5);
        backdrop-filter: blur(.25rem);
        color: $color__white;
        transform: translateY(100%);
        transition: transform .5s;
    }

    &:hover {
        > .item_best_desc {
            transform: translateY(0);
        }
    }
}

.sec_recmd {
    > .section_title {
        margin: 4rem 0 1rem;
    }

    > .item_recmd {
        float: left;
        position: relative;
        padding: .25rem;
        width: calc((100% - .5rem) / 2);
        border: .05rem solid $color__mid;

        & + .item_recmd {
            margin-left: .5rem;
        }

        > img {
            float: left;
            margin-right: .5rem;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
        }

        > h6 {
            margin: .5rem 0;
            color: $color__dark;
        }

        > p {
            color: $color__grey;
            line-height: 1.6;
        }

        > .btn_recmd_more {
            position: absolute;
            bottom: .5rem;
            right: .5rem;
            padding: .5rem;
            background: $color__bb;
            cursor: pointer;

            > span {
                display: none;
            }

            &:hover {
                > span {
                    display: inline;
                }
            }
        }
    }
}