/* ---------- Layout - Index ---------- */

$color__black: rgb(0, 0, 0);
$color__white: rgb(255, 255, 255);

$color__dark: rgb(51, 38, 38);
$color__grey: rgb(114, 107, 107);
$color__mid: rgb(221, 221, 225);
$color__light: rgb(241, 241, 243);
$color__subtle: rgb(249, 249, 249);

$color__pm: rgb(181, 0, 86);
$color__sub: rgb(255, 94, 103);
$color__sl: rgb(152, 183, 190);
$color__by: rgb(255, 249, 233);
$color__bp: rgb(255, 240, 246);
$color__bb: rgb(229, 226, 255);


#mainSlider {
    overflow: hidden;
    
    > img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#secMost {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: -7rem auto 2rem;
    padding: 2rem;
    max-width: 60rem;
    background: $color__white;
    box-shadow: 0 1rem 2rem -.5rem rgba($color__black, .2);

    > .most_item_box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        width: 20%;
        height: 10rem;
        text-align: center;
        user-select: none;
        cursor: pointer;

        &:nth-child(1) {
            background: #f7f8fa;
        }

        &:nth-child(2) {
            background: #eee3cd;
        }

        &:nth-child(3) {
            background: #f4eee2;
        }

        &:nth-child(4) {
            background: #f1b6d2;
        }

        > img {
            display: block;
            height: 7rem;
            transition: .3s;
        }

        &:hover {
            > img {
                transform: translateY(-1rem) rotateZ(-5deg) scale(1.1);
                filter: drop-shadow(0 1rem 1rem rgba($color__dark, .3));
            }
        }
    }
}

.sec_latest {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    

    > .section_title {
        width: 60rem;
        margin: 4rem auto 1rem;
    }
}

.sec_best {
    background: linear-gradient(to bottom, transparent 25%, $color__sl 25%, $color__sl 75%, transparent 75%);

    > .section_title {
        width: 60rem;
        margin: 4rem auto 1rem;
    }

    > .grid_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
    }
}

.item_best {
    position: relative;
    background: $color__white;
    border: .05rem solid $color__mid;
    overflow: hidden;

    &.doublewide {
        grid-column-end: span 2;
    }

    &.doublelong {
        grid-row-end: span 2;
    }

    &.doubleboth {
        grid-row-end: span 2;
        grid-column-end: span 2;
    }

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    > .item_best_desc {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10%;
        background: rgba($color__black, .5);
        backdrop-filter: blur(.25rem);
        color: $color__white;
        transform: translateY(100%);
        transition: transform .5s;
    }

    &:hover {
        > .item_best_desc {
            transform: translateY(0);
        }
    }
}

.sec_recmd {
    > .section_title {
        margin: 4rem 0 1rem;
    }

    > .item_recmd {
        float: left;
        position: relative;
        padding: .25rem;
        width: calc((100% - .5rem) / 2);
        border: .05rem solid $color__mid;

        & + .item_recmd {
            margin-left: .5rem;
        }

        > img {
            float: left;
            margin-right: .5rem;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
        }

        > h6 {
            margin: .5rem 0;
            color: $color__dark;
        }

        > p {
            color: $color__grey;
            line-height: 1.6;
        }

        > .btn_recmd_more {
            position: absolute;
            bottom: .5rem;
            right: .5rem;
            padding: .5rem;
            background: $color__bb;
            cursor: pointer;

            > span {
                display: none;
            }

            &:hover {
                > span {
                    display: inline;
                }
            }
        }
    }
}