/* ---------- Layout - Index ---------- */
select {
	outline: none;
}

#headRegular {
	position: absolute;
}

#wrapMain {
	position: relative;
}
#wrapMain #topBack {
	width: 100%;
	background: url(../../common/images/products/sprout_back.gif);
	background-position: 0 280px;
	height: 250px;
}
#wrapMain ul.route {
	display: flex;
	margin: 1rem auto 0.5rem;
}
#wrapMain ul.route li {
	line-height: 1.75;
}
#wrapMain ul.route li::after {
	content: ">";
	padding: 0 8px;
	display: inline-block;
}
#wrapMain ul.route li select {
	border: 0.05rem solid #dddde1;
}
#wrapMain ul.route li:last-child::after {
	content: "";
}
#wrapMain #mainContents {
	margin: 2rem auto;
	position: relative;
	/* leftCate */
	padding: 0;
}
#wrapMain #mainContents #leftCateg {
	position: absolute;
	top: 0;
	left: 150px;
	z-index: 2;
	width: 150px;
	border: 0.05rem solid #dddde1;
}
#wrapMain #mainContents #leftCateg .cartNum, #wrapMain #mainContents #leftCateg .recentNum {
	color: #b50056;
	margin-left: auto;
	text-decoration: underline;
	cursor: pointer;
}
#wrapMain #mainContents #leftCateg div.leftCart {
	background: #dddde1;
}
#wrapMain #mainContents #leftCateg div.leftRecent {
	background: #fff;
}
#wrapMain #mainContents #leftCateg div {
	padding: 12px;
}
#wrapMain #mainContents #leftCateg div p {
	display: flex;
}
#wrapMain #mainContents #leftCateg div span {
	display: inline-block;
}
#wrapMain #mainContents #leftCateg div:first-child {
	border-bottom: 0.05rem solid #dddde1;
	color: #fff;
}
#wrapMain #mainContents #leftCateg div .recentProd {
	margin-top: 0.5rem;
}
#wrapMain #mainContents #leftCateg div .recentProd li {
	padding: 12px 8px;
}
#wrapMain #mainContents #leftCateg div .recentProd li img {
	width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}
#wrapMain #mainContents #leftCateg div .recentProd li p {
	padding-top: 0.5rem;
}

.item_norm {
	padding: 0.3rem;
}
.item_norm:hover {
	border: 1px solid #b50056;
}

#filter {
	border-top: 0.05rem solid #333333;
	border-bottom: 0.05rem solid #333333;
	padding: 12px 0;
	margin: 0 auto 1rem;
	display: flex;
}
#filter div.ft_cate1 {
	display: flex;
}
#filter div.ft_cate1 span {
	display: inline-block;
	padding: 8px 20px 8px 12px;
}
#filter div.ft_cate1 ul {
	display: flex;
}
#filter div.ft_cate1 ul li {
	border: 0.05rem solid #dddde1;
	padding: 8px 12px;
	margin-right: 6px;
	cursor: pointer;
}

.cate_on {
	background: #b50056;
	color: #fff;
}

#align_ft {
	position: relative;
	height: 65px;
	z-index: -1;
	border: 0.05rem solid #dddde1;
	max-width: 60rem;
	margin: 0 auto 1rem;
	display: flex;
	align-items: center;
}
#align_ft h6 {
	padding-left: 1rem;
	font-weight: normal;
}
#align_ft ul.Aligns {
	margin-left: auto;
	width: 450px;
	display: flex;
}
#align_ft ul.Aligns li {
	display: inline-block;
	width: calc(20% - 4px);
	text-align: center;
	border-right: 0.05rem solid #dddde1;
	cursor: pointer;
}
#align_ft ul.Aligns li:last-child {
	border-right: none;
}

#secMost {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 0 auto 2rem;
	padding: 2rem;
	max-width: 60rem;
	background: white;
	box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.2);
}
#secMost > .most_item_box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	width: 20%;
	height: 10rem;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	cursor: pointer;
}
#secMost > .most_item_box:nth-child(1) {
	background: #f7f8fa;
}
#secMost > .most_item_box:nth-child(2) {
	background: #eee3cd;
}
#secMost > .most_item_box:nth-child(3) {
	background: #f4eee2;
}
#secMost > .most_item_box:nth-child(4) {
	background: #f1b6d2;
}
#secMost > .most_item_box > img {
	display: block;
	height: 10rem;
	transition: 0.3s;
}
#secMost > .most_item_box:hover > img {
	transform: translateY(-1rem) rotateZ(-5deg) scale(1.1);
	filter: drop-shadow(0 1rem 1rem rgba(51, 38, 38, 0.3));
}

.sec_Product {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 2rem;
	margin-bottom: 1rem;
	position: relative;
}

.sec_hotitm {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 2rem;
}

#pagerBottom {
	width: 100%;
	margin: 4rem auto 1rem;
}
#pagerBottom article {
	display: flex;
	justify-content: center;
}
#pagerBottom ul {
	display: flex;
}
#pagerBottom ul li {
	padding: 0 6px;
	cursor: pointer;
	font-size: var(--fnt_16);
}
#pagerBottom span {
	display: inline-block;
	width: 18px;
	height: 12px;
	cursor: pointer;
	padding: 0 22px;
}
#pagerBottom .arrLeft {
	background: url(../images/arr_Left.png) no-repeat;
	background-size: contain;
	background-position: center center;
}
#pagerBottom .arrRight {
	background: url(../images/arr_Right.png) no-repeat;
	background-size: contain;
	background-position: center center;
}

/*  */