/* ---------- Interface CSS ---------- */

$color__black: rgb(0, 0, 0);
$color__white: rgb(255, 255, 255);

$color__dark: rgb(51, 38, 38);
$color__grey: rgb(114, 107, 107);
$color__mid: rgb(221, 221, 225);
$color__light: rgb(241, 241, 243);
$color__subtle: rgb(249, 249, 249);

$color__pm: rgb(181, 0, 86);
$color__sub: rgb(255, 94, 103);
$color__sl: rgb(152, 183, 190);
$color__by: rgb(255, 249, 233);
$color__bp: rgb(255, 240, 246);
$color__bb: rgb(229, 226, 255);

h1#mainLogo {
    img {
        width: 4rem;
    }
}

aside#frmSearch {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color__black, .5);
    backdrop-filter: blur(.5rem);
    z-index: 2000;

    &.on {
        display: flex;
    }

    > form {
        margin: auto;

        > #txtMainSearch {
            padding: 1rem;
            width: 30vw;
            border-radius: .15rem;
            background: $color__white;
            
            outline: none;
            font-size: 1vw;

            &:focus {
                outline: .1rem solid $color__sub;
            }
        }

        > .search_close {
            position: absolute;
            top: 3vw;
            right: 3vw;
            width: 4rem;
            height: 4rem;
            background: $color__black;
            box-shadow: 0 .25rem .5rem rgba($color__black, .3);
            color: $color__white;
            cursor: pointer;

            &:hover {
                background: $color__sub;
                transition: .2s;
            }

            > span {
                display: block;
                position: absolute;
                top: calc(50% - .05rem);
                left: 10%;
                width: 80%;
                height: .1rem;
                background: $color__white;
                opacity: .5;

                &:first-child {
                    transform: rotateZ(-45deg);
                }

                &:last-child {
                    transform: rotateZ(45deg);
                }
            }
        }

        > .search_rcmd {
            padding: 1rem 0;
            color: $color__white;
        }
    }
}

.info_menu {
    padding: .5rem 2rem;
    font-size: .6rem;
    text-align: end;

    > a + a {
        margin-left: 1.5rem;
    }
}

#headRegular {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: $color__white;
    text-shadow: 0 0 .25rem rgba($color__dark, .5);
    user-select: none;
    z-index: 100;

    &.over {
        background: $color__white;
        box-shadow: 0 0 .5rem rgba($color__black, .3);
        color: $color__dark;
        text-shadow: none;
        transition: .5s;

        h1#mainLogo {
            img {
                filter: invert(.8);
            }
        }

        > .info_menu {
            background: $color__mid;
        }

        #navRegular {
            padding: 1rem 0;
            transition: .3s;
        }
    }
}

#navRegular {
    padding: 2.5rem 0;

    ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 2rem;
    }
}

#mainSlider {
    position: sticky;
    top: 0;
    height: 50vh;
    background: $color__light;
    z-index: -1;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, rgba($color__black, .5) 0%, transparent 60%);
        pointer-events: none;
        content: '';
    }
}

#mainContents {
    margin: 2.5rem auto;
    padding: 2rem 0;
    background: $color__white;
}

.section_title {
    width: 100%;
}

.item_norm {
    position: relative;
    width: 18rem;
    background: $color__white;
    border: .05rem solid $color__mid;

    > .item_tag {
        display: flex;
        gap: .15rem;
        position: absolute;
        top: .25rem;
        left: .25rem;
        right: .25rem;
        font-size: var(--fnt_12);
        font-weight: bold;

        > span {
            display: block;
            padding: .3rem .5rem;
            border-top-left-radius: .3rem;
            border-bottom-right-radius: .3rem;
            box-shadow: 0 .25rem .4rem rgba($color__black, .1);
            color: $color__white;
            text-shadow: 0 .05rem .05rem rgba($color__black, .2);

            &.onsale {
                background: $color__sub;
                color: $color__white;
            }

            &.onevent {
                background: aquamarine;
                color: darkcyan;
            }

            &.oncoupon {
                background: cornflowerblue;
                color: $color__white;
            }
        }
    }

    > .item_img {
        height: 15rem;
        border-bottom: .05rem solid $color__mid;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .item_content {
        display: flex;
        flex-flow: column nowrap;
        row-gap: .5rem;
        padding: .5rem;
        height: 10rem;

        > .item_desc {
            line-height: 1.6;
        }

        > .item_price {
            margin-top: auto;
            text-align: end;
            font-size: var(--fnt_16);
            font-weight: bold;

            > .item_salerate {
                display: inline-block;
                padding: .25rem;
                border-radius: .15rem;
                background: $color__sub;
                color: $color__white;
                font-size: var(--fnt_16);
                font-weight: bold;
            }

            > .canceled {
                color: firebrick;
                font-size: var(--fnt_12);
                font-weight: normal;
            }
        }

        > .item_deliver {
            text-align: end;
        }
    }

    > .item_category {
        padding: .5rem;
        border-top: .05rem solid $color__mid;
        background: $color__light;
        font-size: var(--fnt_12);
    }
}

footer#footRegular {
    padding: 1rem 0 2rem;
    background: $color__light;

    .int_wrap{
        ul{
            display: flex;
            gap: 50px;
            margin: 30px 0 50px;
        }

        li{
            cursor: pointer;

            &:hover{
                color: $color__pm;
            }
        }
    }

    .footBtm{
        line-height: 1.6;
    }
}